.Body {
  margin: 80px auto 120px auto;
  width: 100%;
  .Masonry {
    column-count: 1;
    column-gap: 30px;
    @import 'GridItem';
  }
  @media only screen and (min-width : 548px) and (max-width: 1024px) {
    width: 95%;
    .Masonry {
      column-count: 2;
      column-gap: 45px;
    }
  }
  @media screen and (min-width: 1024px) {
    width: 90%;
    .Masonry {
      column-count: 3;
      column-gap: 60px;
    }
  }
}