@import "../_vars";

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.Carousel {
  margin: 50px 0 0 0;


  .inactive {
    display: none;
  }
  .active {
    display: block;
  }
  .image {
    height: 0;
    padding-top: 75%;
    .text-wrapper {
      width: calc(100% - 50px);
      height: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .main {
        font-size: 2em;
        margin: -100% 0 15px 0;
      }
      .secondary {
        font-size: .75em;
        margin: 0 0 15px 0;
      }
      .text {
        color: #fff;
      }
      @media screen and (min-width: 590px) {
        width: calc(100% - 150px);
      }
    }
    @media screen and (min-width: 773.33px) {
      width: 100%;
      max-width: 1400px;
      height: 580px;
      margin: 0 auto;
      padding-top: 0;
      .text-wrapper {
        .main {
          font-size: 3em;
          margin: 75px 0 25px 0;
        }
        .secondary {
          font-size: 1.5em;
          margin: 0 0 25px 0;
        }
      }
    }
  }
  #image-0 {
    background: url(../image-1.jpg) no-repeat center;
    background-size: cover;
  }

  #image-1 {
    background: url(../image-2.jpg) no-repeat center;
    background-size: cover;
  }

  #image-2 {
    background: url(../image-3.jpg) no-repeat center;
    background-size: cover;
  }
  .nav-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    margin: 12px 0 0 0;
    .nav-dot {
      cursor: pointer;
      background-color: $light-gray;
      width: 10px;
      height: 10px;
      border-radius: 5px;
    }
    .active {
      background-color: $gray;
    }
    .center {
      margin: 0 18px 0 18px;
    }
  }
  @media screen and (min-width: 450px) {
    margin: 100px 0 0 0;
  }
}