.Footer {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $reg;
  font-size: 10px;
  color: #000;
  margin: 0 0 75px 0;
  .dash {
    margin: 0 2px 0 5px;
  }
  .links {

    .link {
      color: #000;
      margin: 0 3px 0 3px;
      text-decoration: underline;
    }
    .link:hover {
      color: #000;
      text-decoration: underline;
    }
    .link:focus {
      color: #000;
      text-decoration: underline;
    }
  }
}