.HamburgerMenu {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, .7);
  .Close {
    position: fixed;
    z-index: 5;
    color: #fff;
    font-family: $reg;
    text-align: center;
    height: 55px;
    width: 55px;
    top: 0;
    right: 0;
    margin: 5px 5px 0 0;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 30px;
    font-size: 3em;
    padding: 2px 0 0 0;
    transition: all .5s;
    &:hover {
      background-color: rgba(255, 255, 255, .7);
      color: rgba(0,0,0, .7);
      border-color: rgba(0,0,0, .7);
    }
    @media screen and (min-width: 450px){
      margin: 20px 55px 0 0;
    }
  }
  ul {
    padding: 0;
    text-align: center;
    margin: 50px 0 0 0;
    li {
      list-style-type: none;
      margin: 0 0 15px 0;
      font-size: 1.5em;
      font-family: $reg;
      a {
        color: rgba(255, 255, 255, .8);
        transition: all .5s;
        &:hover {
          color: #fff;
          text-decoration: underline;
        }
        &:focus {
          color: #fff;
          text-decoration: underline;
        }
      }
    }
    @media screen and (min-width: 450px) {
      margin: 100px 0 0 0;
      li {
        font-size: 2em;
      }
    }
  }
}
.active {
  display: block;
  visibility: visible;
}
.inactive {
  display: none;
  visibility: hidden;
}